.widget{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    box-shadow: 2px 2px 8px 1px #0003;
    -webkit-box-shadow: 2px 2px 8px 1px #0003;
    border-radius: 4px;
    height: 100px;

    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            font-weight: bold;
            font-size: 14px;
            color: #aaa;
        }

        .counter{
            font-weight: 300;
            font-size: 28px;
        }

        .link{
            width: max-content;
            font-size: 12px;
            border-bottom: 1px solid #ccc;
        }

        .percentage{
            display: flex;
            align-items: center;
            font-size: 14px;

            &.positive{
                color: #080;
            }

            &.negative{
                color: #900;
            }
        }

        .icon{
            font-size: 18px;
            padding: 5px;
            background-color: #07b4;
            border-radius: 5px;
            align-self: flex-end;
        }
    }
}